{% extends "base.html" %}
{% block title %}{{ event.title }}{% endblock %}
{% block content %}
<div class="card p-4">
    {% if event.image %}
        <img src="{{ event.image.url }}" class="img-fluid mb-3" alt="{{ event.title }}">
    {% endif %}

    <h2>{{ event.title }}</h2>
    <p>{{ event.description }}</p>
    <p><b>📍 Venue:</b> {{ event.venue }}</p>
    <p><b>📅 Date:</b> {{ event.date_time }}</p>
    <p><b>👥 Capacity:</b> {{ event.capacity }}</p>
    <p><b>💰 Price:</b> ₹{{ event.price }}</p>

    <a href="{% url 'book_event' event.pk %}" class="btn btn-success">Book Now</a>
</div>
{% endblock %}
